<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Young Hearts Boarding High School</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link href="/stylesheets/jquery.bxslider.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

</head>
<body>
<style>

    #container {
      width: 70%;
      margin: 0 auto;     /* 가로로 중앙에 배치 */
         /* 테두리와 내용 사이의 패딩 여백 */
    }
    #list {
      text-align: center;

    }
    #write {
      text-align: right;
    }
    /* Bootstrap 수정 */
    .table > thead {
      background-color: #b3c6ff;
    }
    .table > thead > tr > th {
      text-align: center;
    }
    .table-hover > tbody > tr:hover {
      background-color: #e6ecff;
    }
    .table > tbody > tr > td {
      text-align: center;
    }
    .table > tbody > tr > #title {
      text-align: left;
    }
    div > #paging {
      text-align: center;
    }
    .hit {
      animation-name: blink;
      animation-duration: 1.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      /* 위 속성들을 한 줄로 표기하기 */
      /* -webkit-animation: blink 1.5s ease infinite; */
    }
    /* 애니메이션 지점 설정하기 */
    /* 익스플로러 10 이상, 최신 모던 브라우저에서 지원 */
    @keyframes blink {
      from {color: white;}
      30% {color: yellow;}
      to {color: red; font-weight: bold;}
      /* 0% {color:white;}
      30% {color: yellow;}
      100% {color:red; font-weight: bold;} */
    }
  </style>
    
    <header>
        <% include ./header %>
    </header>

  <div id="container">
    <div id="list">
      <h2>Notification</h2><br>
    </div>
    <div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th width="10%">No.</th>
            <th width="40%">Title</th>
            <th width="10%">Author</th>
            <th width="20%">Date</th>
            <th width="10%">View</th>
          </tr>
        </thead>
        <tbody>
        <% var totalCnt = result.length; %>
        <% var contentsCntPerOnePage = 7; %>
        <% var pageBarNumber = parseInt(totalCnt /contentsCntPerOnePage) ; %>
        <% if ( totalCnt % contentsCntPerOnePage == 0 ) {
          pageBarNumber -= 1;
        } %>
        <% var currentCategory = "notice"; %>

         <% for(var i = totalCnt - contentsCntPerOnePage * (pageNumber * 1 - 1 ) ; i > totalCnt - contentsCntPerOnePage * (pageNumber * 1 ); i--){ 
          if (i <= 0 ) break; %>
            <tr>
                <td><%= i %></td> 
                <td id="title" >
                    <a href="/nav/notice/noticeBoard/<%= result[i-1].seq %>/?pageNumber=<%= pageNumber %>">
               <% if(result[i-1].title.length > 40){ %>
                        <%=  result[i-1].title.slice(0,40); %>&nbsp;...&nbsp;
                        <% }else { %> 
                            <%= result[i-1].title %>
                            <% } %></a> 
                  </td>
                <td>Admin</td>
                <td><%= result[i-1].date %></td>
                <td><%= result[i-1].view %></td>
            </tr>
          <%  } %>
        </tbody>
      </table> 
    </div>
  </div>

  <% if ( sessionValue == "admin") { %>
    <p style="text-align : center;">
      <a href="/nav/notice/noticeInsertBoard" class="btn btn-default"  style="font-size:15px;">Write</a>
    </p>
  <% } else { %>
    <p style="text-align : center;">
        <a href="/nav/notice/noticeInsertBoard" class="btn btn-default"  style="font-size:15px; display: none;">Write</a>
    </p>
  <% } %>
    
    <!-- 
        currentPageNumber Sector  
                                  -->
    <% include ./currentPageNumber %>
    
    <footer>
        <% include ./footer %>
    </footer>

</body>
</html>